<h1>Games#score</h1>
<p>Find me in app/views/games/score.html.erb</p>
<p>Is part of the grid?</p><%= @score %>
<br>
<p>Is an english word?</p><%= @english %>
<br>
<p>Score:</p><%= @points %>
<br>
<br>
<%= link_to "Try again.", new_path %>
